 <mat-toolbar color="primary">{{'sims' | translate}}</mat-toolbar> 
  <mat-toolbar *ngIf="authService.canUpdate()"><button mat-button (click)="openAddDialog()" style="position: relative;float: left;margin-bottom:5px;"><mat-icon color="primary">add_circle</mat-icon></button>
  <input type="file" #fileInput placeholder="Upload file..." style="display:none;" (change)="upload()" />
  <button mat-button (click)="fileInput.click()" style="position: relative;float: left;margin-bottom:5px;margin-right:10px;"><mat-icon color="primary">file_upload</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menu" color="primary">הורדת אקסל
      <mat-icon color="primary">cloud_download</mat-icon>
    </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="loadExcel(false)">דף זה</button>
  <button mat-menu-item  (click)="loadExcel()">כל התוצאות</button>
</mat-menu>
</mat-toolbar> 
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field floatPlaceholder="never">
      <input matInput placeholder="{{'search'|translate}}" #filter>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> 
  </div>   
  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached"></div>
  </div>
  <table mat-table #table [(dataSource)]="dataSource" dir="RTL" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="sim">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'sim'|translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.sim}} </td>
    </ng-container>
    <ng-container matColumnDef="agent_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  [ngClass]="{'dn':!authService.canUpdate()}">{{'agent'|translate}} </th>
        <td mat-cell *matCellDef="let row"  [ngClass]="{'dn':!authService.canUpdate()}">
                <ng-container *ngIf="row.agent_name=='-'">-</ng-container>  
                <button *ngIf="row.agent_name!='-'" mat-button color="primary" [routerLink]="['/סוכן', row.agent_id]">{{row.agent_name}}</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="company_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'company'|translate}} </th>
        <td mat-cell *matCellDef="let row"> {{getTheCompany(row)}} </td>
    </ng-container>
    <ng-container matColumnDef="used">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'used'|translate}} </th>
        <td mat-cell *matCellDef="let row"> {{row.used|yn|translate}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" >#</th>
        <td mat-cell *matCellDef="let row" >
            <mat-icon (click)="edit(row)" color="primary" style="cursor:pointer;" *ngIf="authService.canUpdate()">mode_edit</mat-icon>
            <mat-icon (click)="delete(row.id)" color="warn" style="cursor:pointer;" *ngIf="authService.canUpdate() && row.used=='0'">delete</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSize]="30" [length]="resultsLength"  showFirstLastButtons></mat-paginator>       
</div>


