<div mat-dialog-content dir="RTL">
    <p>{{'add_phone'|translate}}?</p>
    <div class="phone-list">
        <ol *ngIf="data.phone.excelPhones" class="mat-chip-list-stacked">
            <li *ngFor="let item of data.phone.excelPhones">
                <mat-checkbox [checked]="true" [disabled]="true">{{item[0]}}</mat-checkbox>
            </li>
        </ol>
    </div>
    <form novalidate [formGroup]="data.phone.phoneForm" class="form-inline">
        <mat-form-field [ngClass]="{'dn':data.phone.excelPhones}">
            <input matInput tabindex="1" formControlName="phone" placeholder="{{'phone'|translate}}" />
            <valid-err [control]="data.phone.phoneForm.controls['phone']"></valid-err>
        </mat-form-field>
        <mat-form-field>
            <input matInput tabindex="1" formControlName="note" placeholder="{{'note'|translate}}" />
            <valid-err [control]="data.phone.phoneForm.controls['note']"></valid-err>
        </mat-form-field>
        <mat-form-field>
            <mat-chip-list matPrefix #chipList >
                <mat-chip  
                    [selectable]="selectable" 
                    [removable]="removable" 
                    (remove)="initSelectedAgent()" 
                    *ngIf="selectedAgent._username!=''">
                    {{selectedAgent._username|translate}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
            <input 
                matInput 
                placeholder="{{'related_to_agent'|translate}}"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                formControlName="agent_id" 
                aria-label="Number"  
                [matAutocomplete]="auto" 
                tabindex="1"
                (keyup)="searchAgent($event)" 
                (focusout)="chooseAgent($event)"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions|async" [value]="option" style="text-align:right;">
                    {{option._username}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-select 
            placeholder="{{'company'|translate}}" 
            formControlName="company_id" 
            tabindex="1" (change)="matchProducts()">
            <mat-option *ngFor="let company of data.phone.companies" [value]="company.id">
                {{'company_name_'+company.id|translate}}
            </mat-option>
        </mat-select>
        <mat-select *ngIf="products && products.length>0"
            placeholder="{{'product'|translate}}" 
            formControlName="product_id" 
            tabindex="1" >
            <mat-option *ngFor="let product of products" [value]="product.id">
                {{'prod_name_'+product.id|translate}}
            </mat-option>
        </mat-select>
    </form>
</div>
<div mat-dialog-actions dir="RTL">
    <button mat-button color="primary" (click)="save()" tabindex="2" [disabled]="!data.phone.phoneForm.valid">{{'save'|translate}}</button>
    <button mat-button color="warn" (click)="onNoClick()" tabindex="-1">{{'no_thanks'|translate}}</button>
</div>