<mat-tab-group  *ngIf="customer">
    <mat-tab label="{{'consumer'|translate}}">
      <div class="demo-tab-content">
        <app-customer-info [customer]="customer"  *ngIf="customer"></app-customer-info>
      </div>
    </mat-tab>
    <mat-tab label="{{'members'|translate}}" *ngIf="customer.members && customer.members.length>0 && load_orders==0">
      <div class="demo-tab-content">
        <app-customer-members [customer]="customer"></app-customer-members>
      </div>
    </mat-tab>
    
  </mat-tab-group>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>