<div class="col-mat-6 col-mat-offset-3" style="margin:auto;max-width:300px;float:none;">
  <h2 style="text-align:center;">{{'login_title'|translate}}</h2>
  <form  class="example-container"  name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

            <mat-form-field>
                <input [(ngModel)]="model.username" name="username" #model.username="ngModel" matInput  placeholder="{{'username'|translate}}" required>
                <mat-error *ngIf="f.submitted && !model.username.valid">  {{'username'|translate}} <strong>{{'required'|translate}}!</strong></mat-error>
            </mat-form-field>
       
            <mat-form-field>
                <input (keyup)="checkPass($event)" type="password" [(ngModel)]="model.password" #model.password="ngModel" name="password" matInput  placeholder="{{'password'|translate}}" (keyup)="checkPass($event)" required>
                <mat-error *ngIf="f.submitted && !model.password.valid"> {{'password'|translate}} <strong>{{'required'|translate}}!</strong></mat-error>
            </mat-form-field>
            

          <button mat-raised-button color="primary" style="width:-webkit-fill-available;"  [disabled]="loading" >{{'login'|translate}}</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
       
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>