// import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
// @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
.green{
    color:green;
}
.red{
    color:red;
}
.accent {
    color: #ff4081;
}
.h2, h2 {
    font-size: 30px;
}
.mat-card {
    margin-bottom: 10px;
}