<div mat-dialog-content dir="RTL">
  <p>{{'obligation_update'|translate}}</p>
  <form novalidate [formGroup]="obligationForm"  class="form-inline">
    <mat-form-field>
      <input matInput tabindex="1" formControlName="obligation" placeholder="{{'obligation'|translate}}"/>
      <valid-err [control]="obligationForm.controls['obligation']"></valid-err>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions dir="RTL">
  <button mat-button color="primary" (click)="save()" tabindex="2" [disabled]="!obligationForm.valid">{{'save'|translate}}</button>
  <button mat-button color="warn" (click)="onNoClick()" tabindex="-1">{{'no_thanks'|translate}}</button>
</div>
